/* global */
*{
   font-family: 'Poppins', sans-serif;
}
.f-c-orange{
    color: #E76F51;
}
/* featured css */
 img{
    cursor: pointer;   
}
.gray-scale{
    filter: grayscale(100%);
    transition: 1s;
}
.gray-scale:hover{
    filter: grayscale(0%);
}

/* feedback css */
.feedback ul li{
    list-style: none;
    color: #E77C40;
}

